In [1]:
import pandas as pd
import numpy as np

In [2]:
data=pd.read_csv("spam.csv", encoding="latin-1")
data.head()

,class,message,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN

In [3]:
data.columns

Index(['class', 'message', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4'], dtype='object')

In [4]:
data.drop(['Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4'], axis=1, inplace=True)
data.head()

  class                                            message
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

In [5]:
data['class']=data['class'].map({'ham':0, 'spam':1})
data.head()

   class                                            message
0      0  Go until jurong point, crazy.. Available only ...
1      0                      Ok lar... Joking wif u oni...
2      1  Free entry in 2 a wkly comp to win FA Cup fina...
3      0  U dun say so early hor... U c already then say...
4      0  Nah I don't think he goes to usf, he lives aro...

In [6]:
from sklearn.feature_extraction.text import CountVectorizer

In [7]:
cv=CountVectorizer()

In [8]:
X=data['message']
y=data['class']

In [9]:
X.shape

(5572,)

In [10]:
y.shape

(5572,)

In [11]:
X=cv.fit_transform(X)

In [12]:
X

<5572x8672 sparse matrix of type '<class 'numpy.int64'>'
	with 73916 stored elements in Compressed Sparse Row format>

In [13]:
from sklearn.model_selection import train_test_split

x_train, x_test,y_train, y_test=train_test_split(X,y, test_size=0.2)

In [14]:
x_train.shape

(4457, 8672)

In [15]:
from sklearn.naive_bayes import MultinomialNB
model=MultinomialNB()

In [16]:
model.fit(x_train, y_train)

MultinomialNB()

In [17]:
model.score(x_test, y_test)

0.9856502242152466

In [18]:
import pickle
pickle.dump(model, open('spam.pkl','wb'))

pickle.dump(cv, open('vectorizer.pkl','wb'))

In [19]:
clf=pickle.load(open('spam.pkl','rb'))

In [20]:
clf

MultinomialNB()

In [22]:
msg="You Won 500$"
data = [msg]
vect = cv.transform(data).toarray()
result = model.predict(vect)
print(result)

[1]